.single_product_box_parent {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 50px;
    padding: 0 50px 50px;
}

/* .single_product_left_box {
  display: grid;
  place-items: center;
} */

/* .single_product_right_box {
  background: #ff0;
} */

.loader {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.single_product_image_parent {
    background: #707070;
    border-radius: 30px;
    /* padding: 10%; */
    overflow: hidden;
}

.single_product_title {
    margin-bottom: 40px;
}

.single_product_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
    margin: 0 auto;
}

.single_product_catalog {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.single_product_catalog > li {
    color: #707070;
    align-self: end;
}

.single_product_catalog > span {
    background: #707070;
    width: 10px;
    height: 1px;
    display: inline;
}

.product_info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.add_card {
    background: #000;
    outline: none;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Black_';
    font-size: 26px;
    position: relative;
}

.add_price_product_parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.net_parent {
    display: flex;
    align-items: center;
    gap: 10px;
}

.net_text {
    color: #707070;
}

.product_price {
    font-size: 45px;
    font-family: 'Black_';
}

.info_for_products {
    font-family: 'Medium';
    font-size: 18px;
    margin-bottom: 5px;
}

.info_for_products > span {
    font-family: 'Regular';
    font-size: 18px;
}

.total_price {
    font-family: 'Black_';
    font-size: 40px;
}

.checkout_button {
    background: #000;
    color: #fff;
    font-family: 'Medium';
    border: none;
    padding: 8px 20px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .product_price {
        font-size: 30px;
        font-family: 'Black_';
    }

    .add_card {

        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .single_product_box_parent {
        grid-template-columns: auto;
    }

    .single_product_catalog {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 425px) {
    .total_price {
        font-size: 20px;
    }

    .checkout_button {
        text-align: center;
        font-size: 16px;
        padding: 5px;
    }

    .single_product_box_parent {
        padding: 0 20px 20px;
    }
}