.history_product_details {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.37);
    display: grid;
    gap: 20px;
    border-radius: 20px;
}

.history_items {
    min-height: 50px;
    background: rgba(0, 0, 0, 0.02);
    padding: 20px;
    border-radius: 20px;
}

.fieldset_items {
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    cursor: alias;
    font-family: Regular;
}

.legend {
    /*margin-left: 20px;*/
    font-size: 20px;
    font-family: Medium;
}

.status_history {
    color: #F5A05F;
    text-align: right;
}

.history_images {
    width: 20%;
    background: rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.13);
}

.history_elements {
    margin-left: 10px;
    display: grid;
    gap: 20px;
}

summary {
    display: flex;
    justify-content: space-between;
    font-family: Medium;
}

summary > :first-child {
    display: flex;
    align-items: center;

}

summary > :first-child:first-child {
    /*margin-left: 20px;*/
}

@media screen and (max-width: 1024px) {
    summary {
        gap: 50px;
    }
}

@media screen and (max-width: 768px) {
    .status_history {
        margin-top: 30px;
    }
}

@media screen and (max-width: 425px) {
    .status_history {
        margin-top: 15px;
    }

    .history_images {
        width: 25%;

    }

    summary > :first-child:first-child {
        /*margin-left: 10px;*/
    }

    .history_items {
        padding: 15px;
    }
}

@media screen and (max-width: 375px) {


    summary {
        gap: 20px;
    }

    summary > :first-child {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    summary > :first-child:first-child {
        margin: 0;
    }

    .history_items {
        padding: 15px;
    }
}

