.various_products {
  display: grid;
  width: 100%;
  margin-top: 50px;
  grid-template-columns: repeat(auto-fit, 120px);
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 100px;
  gap: 100px 50px;
}

.rendered_item_parent {
  height: 120px;
  background: #DADADA;
  cursor: pointer;
}

.rendered_images {
  width: 100%;
  height: 100%;
}

.rendered_item_parent>h4 {
  /* position: absolute; */
  text-align: center;
}