.main_container_filter {
    width: 100%;
    /*display: flex;*/
    padding: 50px;
}

.rendered_parent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.brand_name_menu {
    width: 20%;
    min-width: 250px;
    height: 80vh;
}

.brand_box {
    display: grid;
    gap: 8px;
    align-content: start;
    overflow: auto;
}

.brand_title {
    white-space: pre;
}

.rendered_category {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 2px solid grey;
    cursor: pointer;
    font-family: 'Medium';
}

.rendered_category.active {
    box-shadow: inset 0 0 20px #d0bebe;
}

.container_filter {
    width: 80%;
    height: 80vh;
}

.catalog_list_ul {
    width: 100% !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
}

.catalog_lists {
    cursor: pointer;
    position: relative;
    text-transform: uppercase;
}

.sub_catalog_lists {
    position: absolute;
    width: 150px;
    left: 50%;
    transform: translateX(-50%);
    top: 35px;
    text-align: center;
    background: #f1e7e7;
    padding: 10px;
    border-radius: 5px;
    z-index: 10;
}

.component_whit_catalog {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
    padding: 0 30px;
}


.catalog_info {
    position: relative;

}

.catalog_info::after {
    content: '';
    width: 10px;
    height: 1px;
    background: #000;
    position: absolute;
    right: -50%;
    top: 50%;
}

.sub_price_range {
    position: absolute;
    width: 200px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: #f1e7e7;
    padding: 0 10px;
    border-radius: 10px;
}

.sub_growth_select {
    position: absolute;
    width: 220px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    background: #f1e7e7;
    padding: 10px;
    border-radius: 10px;
}

.taste_items {
    background: #ad8686;
}

.taste_items.active {
    background: #000;
    color: white;
}

.taste_items:not(:last-child) {
    margin-bottom: 10px;
}

.growth_label {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.growth_label:not(:last-child) {
    margin-bottom: 10px;
}

.growth_label > label {
    cursor: pointer;
    font-size: 14px;

}

.growth {
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .main_container_filter {
        padding: 30px;
    }

    .rendered_parent {
        flex-wrap: wrap;
        justify-content: center;
    }

    .brand_name_menu {
        width: 100%;
        height: auto;
    }

    .brand_box {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .rendered_category {
        font-size: 10px;
        width: 48%;
        display: flex;
        align-items: center;
    }

    .catalog_list_ul {
        flex-direction: column;
        row-gap: 20px;
    }

    .container_filter {
        width: 100%
    }

    .catalog_info:after {
        display: none;
    }
}