.InputTitle {
    font-family: 'Regular';
    text-transform: uppercase;
}

.Input {
    width: 100%;
    height: 40px;
    background: #E6E6E6;
    border: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 16px;
    outline-color: grey;
    margin-top: 8px;
    font-family: 'Regular';
}

.Input::-webkit-outer-spin-button,
.Input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}


.TextArea {
    width: 100%;
    min-height: 100px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    font-family: 'Regular';
    background: #E6E6E6;
    border: none;
    border-radius: 10px;
    outline-color: grey;
    margin-top: 8px;
}

.ErrorMessage {
    color: red;
}


.SearchParent {
    width: 100%;
    height: 40px;
    background: #F6F6F6;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.SearchOnHeader {
    width: 85%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    padding-left: 10px;
    font-size: 16px;
}

.SearchOnHeader::placeholder {
    font-family: 'Medium';
    font-size: 16px;
}

.SearchOnHeader::-webkit-search-decoration,
.SearchOnHeader::-webkit-search-cancel-button,
.SearchOnHeader::-webkit-search-results-button,
.SearchOnHeader::-webkit-search-results-decoration {
    display: none;
}


.SearchIcon {
    bottom: none;
    outline: none;
    margin-right: 10px;
    cursor: pointer;
}

.InputParent {
    margin-bottom: 20px
}

@media screen and (max-width: 768px) {
    .SearchParent {
        width: 80%;
    }
}