@font-face {
  font-family: 'Bold';
  src: url('./components/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Medium';
  src: url('./components/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: 'Regular';
  src: url('./components/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Light';
  src: url('./components/fonts/Roboto/Roboto-Light.ttf');
}

@font-face {
  font-family: 'Thin';
  src: url('./components/fonts/Roboto/Roboto-Thin.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: transparent;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgb(187, 183, 183);
}