.purchase_field {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  grid-template-rows: auto;
  justify-content: center;
  gap: 50px;
  padding: 20px 0;
}

.rendered_item {
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.37);
  padding: 10px;
  transition: .5s;
  cursor: alias;
  color: #000;
  background: #fff;
  display: grid;
  align-content: space-between;

}

.rendered_item:hover {
  transform: scale(1.1);
}

.count_apt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
}

.item_image {
  border-radius: 10px;
  background: #F6F6F6;
  margin-bottom: 5px;
  position: relative;
}

.rendered_image {
  width: 100%;
  height: 100%;
}

.add_price_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.add_price {
  background: #000;
  display: flex;
  align-items: center;
  padding: 0 5px;
  border-radius: 5px;
}

.buttons {
  border: none;
  background: #000;
  font-size: 20px;
  color: white;
  cursor: pointer;
  position: relative;
}

.price_count {
  /* width: 40px; */
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-top: -3px;
  margin: -3px 5px 0 5px;

}

.tooltip {
  position: absolute;
  background: #000;
  white-space: pre;
  left: 50%;
  top: -10px;
  transform: translateX(-50%);
  padding: 5px 15px;
  border-radius: 10px;
  opacity: 0;
  transition: .5s;
}

.tooltip.active {
  opacity: 1;
  top: -60px;

}

.favorite_image {
  position: absolute;
  left: 0;
  width: 30px;
}

.tooltip::before {
  content: '';
  width: 20px;
  height: 20px;
  transform: rotateZ(45deg);
  position: absolute;
  background: rgb(0, 0, 0);
  left: 50%;
  top: 22px;
  z-index: 10;
}